
/* font-family: Roboto-Thin */
@font-face {
    font-family: Thin;
    src: url("../Roboto/Roboto-Thin.ttf");
}

/* font-family: Roboto-Light */
@font-face {
    font-family: Light;
    src: url("../Roboto/Roboto-Light.ttf");
}

